distfiles/
new_root/
Makefile
stage3/
stage2/
stage*.tar
s3root/

# Files created in these directories are a) large, b) not unique to digitalis, and
# c) possibly incompatible with the license terms of the general repository. They
# therefore should not be uploaded to GitHub.
repository/builds
repository/sources
