.vscode/
distfiles/
Makefile
stage*.tar
digitalis_rootfs.*
repository/Manifest.yml
keys.json
repository/sources
new_root/

rpmbuild/*
!rpmbuild/SPECS
!rpmbuild/SOURCES
rpmbuild/SOURCES/*.tar.*
rpmbuild/SOURCES/*.tgz
rpmbuild/SOURCES/*.zip

rpmbuild/SOURCES/protocol-numbers.xml
rpmbuild/SOURCES/service-names-port-numbers.xml

x10/builtpkgs
x10/sysroot

hostdir*
targetdir*
x10/x10
